* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 500px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    border: 20px solid blue;
}

.grid-row {
    width: calc(100% / 16);
}

.square {
    border: 1px solid black;
    height: calc(100% / 16);
}